.DS_Store
Thumbs.db
desktop.ini

venv/
env/
ENV/
.venv/
__pycache__/
*.py[cod]

*.log
*.tmp
*.bak
*.swp
*.swo

.ipynb_checkpoints/

*.sqlite3

/figures/grafico_mes.png
/figures/grafico_productos.png
/figures/grafico_region.png

